<div class="panel panel-default">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2 style="color: silver">Messages</h2>
    </div>

  </div>
  <div>
    <div class="row-sm-1">
      <div class="row">
        <mat-chip-listbox aria-label="Message selection" >
          <mat-chip-option style="background-color: orange">Technical failure</mat-chip-option>
          <mat-chip-option style="background-color: tomato">Quality</mat-chip-option>
          <mat-chip-option style="background-color: skyblue">Internal Logistic</mat-chip-option>
          <mat-chip-option style="background-color: silver">Other</mat-chip-option>
          <mat-chip-option >Hello</mat-chip-option>
        </mat-chip-listbox>


      </div>




    </div>
  </div>

  <br>



</div>


